In [1]:
import plotly.io as pio
pio.renderers.default = 'iframe'

# 5.1.1 Gráfico de Dispersión 3D con Plotly Express

Similar al gráfico de dispersión en 2D (`px.scatter`), la función 3D `px.scatter_3d` representa datos individuales en un espacio tridimensional.

In [2]:
import plotly.express as px
from plotly.graph_objects import Figure
from pandas import DataFrame

df: DataFrame = px.data.iris()

fig: Figure = px.scatter_3d(df, 
                    x='sepal_length', 
                    y='sepal_width', 
                    z='petal_width',
                color='species')
fig.show()

Una cuarta dimensión de los datos puede representarse mediante el color de los marcadores. Además, en el ejemplo de abajo se utilizan los valores de la columna `species` para asignar diferentes símbolos a los marcadores.

In [3]:
fig: Figure = px.scatter_3d(df, 
                            x='sepal_length', 
                            y='sepal_width', 
                            z='petal_width',
                            color='petal_length', 
                            symbol='species')
fig.show()

# 5.1.2 Figuras Animadas con `Plotly Express`

Varias funciones de Plotly Express permiten crear figuras animadas mediante los argumentos `animation_frame` y `animation_group`.

A continuación, se presenta un ejemplo de un diagrama de dispersión animado creado con `Plotly Express`. Es importante fijar los rangos de `x` y `y` para garantizar que tus datos permanezcan visibles a lo largo de la animación.

In [4]:
from plotly.graph_objects import Figure
from pandas import DataFrame
import plotly.express as px

df:DataFrame = px.data.gapminder()

px.scatter(df, 
            x="gdpPercap", 
            y="lifeExp", 
            size="pop", 
            color="continent", 
            log_x=True, 
            size_max=55, 
            range_x=[100,100000], 
            range_y=[25,90],
            # Solo con esto !
            animation_frame="year", 
            animation_group="country",)

Podemos hacer combinación de ambas

In [5]:
from plotly.graph_objects import Figure
from pandas import DataFrame
import plotly.express as px

df:DataFrame = px.data.gapminder()

px.scatter_3d(df, 
            x="gdpPercap", 
            y="lifeExp", 
            z='pop',
            color="continent", 
            log_x=True, 
            size_max=55, 
            range_x=[100,100000], 
            range_y=[25,90],
            # Solo con esto !
            animation_frame="year", 
            animation_group="country",)

In [6]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

# 5.1.3 Superficies 3D

Para el siguiente ejemplo es necesario usar `Graph Objects`.

In [8]:
import numpy as np
import plotly.graph_objects as go
from plotly.graph_objects import Figure, Surface

# Crear una malla de puntos en el espacio (x, y)
x = np.linspace(-5, 5, 100)
y = np.linspace(-5, 5, 100)
x, y = np.meshgrid(x, y)

z = x**2 - y**2

fig: Figure = Figure(data=[Surface(z=z, x=x, y=y)])

# Personalizar el diseño
fig.update_layout(
    title="Punto de Silla: $z = x^2 - y^2$",
    scene=dict(
        xaxis_title="X Axis",
        yaxis_title="Y Axis",
        zaxis_title="Z Axis"
    )
)

fig.show()